.user-posts-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    gap: 0.35rem;
    margin-top: 1rem;
}
.user-posts-wrapper > *{
    display: flex;
    justify-content: center;
    aspect-ratio: 1/1;
    overflow: hidden;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

@media (max-width:800px){
    .user-posts-wrapper{
        padding: 0 1rem;
    }
}